.recetasDulces {
    background-color: gray;
    padding: 30px;
    margin: 30px;
}

.recetasSaladas {
    background-color: gray;
    padding: 30px;
    margin: 30px;
}

.buscador {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 30px;
}