.recetasDulces {
    background-color: #f25764;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.recetasSaladas {
    background-color: #f25764;
    padding: 30px;
    margin: 30px;
    
    
}

.buscador {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 30px;
}