body {
    background-size: cover;
    background-image: linear-gradient(#336666, #6fbfb7);
    background-repeat: no-repeat;
}
.contenedorTitulo {
    position: absolute;
    top: 100px;
    


}

.logoHead {
    max-width: 100%;
    height: auto;
}

.novedades {
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagenesProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    
}

.card mb-3 {
    display: flex;
    flex-direction: row;

}

.descripcionProductos {
    padding: 30px;
    margin: 30px;
}