.recetasDulces {
    background-color: #f25764;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.recetasSaladas {
    background-color: #6fbfb7;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
  
    
    
}

.buscador {
    width: 30%;
  align-items: center;
    margin: 30px;
}

.card h-100:hover {
    transform: scale(2,1);
}