h1 {
    color: #fff;
    font-size: 5vw;
    font-family: Poppins;
    position: absolute;
    top: 20%;
    right: 0px;
    text-align: right;
    
    margin: 0px;
    padding: 30px;
    
}

.encabezadoRecetas {
    color: #fff;
    font-size: 5vw;
    font-family: Poppins;
    right: 0px;
    text-align: right;
    margin: 0px;
    padding: 30px;
}

.card-title {
    color: red;
    font-family: Poppins;
    font-style: bold;
}

h2 {
    color: white;
    font-size: 5vw;
    padding: 30px;
    font-family: Poppins;
    
}